body {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

.footer {
    float: left;
    height: 15vh;
    font-size: 1.5em;
    vertical-align: middle;
    width: 32vw;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

slide-deck div {
    height: 80vh;
    padding: 1em;
    background: lightgray;
}

slide-controls {
    height: 15vh;
    width: 33vw;
    text-align: center;
    float: left;
}

nextslide {
    display: none;
}