body {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
}

br {
    clear: both;
}

label {
    display: block;
}

label > div, input {
    float: left;
    width: 40vw;
}


button, input {
    font-size: 3vh;
}

input {
    padding: 1px;
}

pre {
    background-color: black;
    overflow-x: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: solid 1px gray;
    padding: 0.5em;
    color: lightgreen;
    font-family: "consolas", sans-serif
}

ul {
    display: table;
    margin: 0 auto;
}

video {
    height: 40vh;
    max-width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

slide-deck img {
    display: block;
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

slide-deck img.expandable:hover {
    margin-top: -20vh;
    max-height: 80vh;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }
    button, input {
        font-size: 14px;
    }

    label > div, input {
        width: 90vw;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 2vh;
    }
    button, input {
        font-size: 2vh;
    }
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

.appear {
    display: none;
}

.footer {
    float: left;
    height: 15vh;
    vertical-align: middle;
    width: 32vw;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

slide-deck > div {
    height: 80vh;
    padding: 1em;
}

@media only screen and (max-width: 960px) {
    .footer {
        float: none;
        width: 100%;
        height: auto;
        margin-top: 2px;
    }
    .right {
        text-align: center;
    }
    .left {
        text-align: center;
    }
    slide-deck > div {
        height: 75vh;
    }
}

slide-controls {
    height: 15vh;
    width: 33vw;
    text-align: center;
    float: left;
}

next-slide, transition {
    display: none;
}